@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 18px 'Roboto', sans, Helvetica;
}

section {
  min-height: 100vh;
  padding:  2vw 2vw 0 2vw;

}

section:first-of-type {
  padding-top: 14.5vh;
}

nav {
  align-items: center;
  background-color: #cae6f1;
  display: flex;
  height: 12.5vh;
  justify-content: space-evenly;
  position: fixed;
  transition: all 500ms;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 0.13rem solid black;
}

a:hover {
  border: none;
}

.scrollUp {
  transform: translateY(-12.5vh);
}

@media (max-width: 800px) {
  html {
    font-size: 18px;
  }
}
