  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 400 18px 'Roboto', sans, Helvetica;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 1.5rem 8rem;
}

section:first-of-type {
  padding-top: 14.5vh;
  margin-top: 0;
}

section .topic:last-child {
  margin-bottom: 0;
}

section:nth-child(odd) {
  background-color: #f3f3ff;
}

nav {
  align-items: center;
  background-color: #cae6f1;
  display: flex;
  height: 12.5vh;
  justify-content: space-between;
  padding: 0 8rem;
  position: fixed;
  transition: all 500ms;
  width: 100%;
  z-index: 1;
}

h3, h5 {
  letter-spacing: .5px;
  font-size: 1rem;
}

h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h5 {
  border-left: .4rem solid #e6b5a2;
  color: #333;
  font-weight: 400;
  margin-bottom: .5rem;
  padding-left: .5rem;
}

li {
  list-style-position: inside;
  padding: .5rem 0;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 0.13rem solid black;
}

p {
  line-height: 2rem;
}

a:hover {
  border: none;
}

nav a {
  color: #001;
  border-color: #001;
}

.topic {
  margin-bottom: 3rem;
}

.topic h5:nth-child(n + 1) {
  margin-top: 1.5rem;
}

.scroll {
  transform: translateY(-12.5vh);
}

@media (max-width: 750px) {
  html {
    font-size: 16px;
  }

  section {
    padding: 1rem;
  }

  section:first-of-type {
    padding-top: 2.5vh;
  }

  nav {
    bottom: 0;
    height: 8vh;
    padding: 0 8vw;
  }

  .scroll {
    transform: translateY(8vh);
  }
}
